{% load i18n %}
<!DOCTYPE html>
<html lang="{% if LANG %}{{LANG}}{%else%}en{% endif %}">
<head>
 <meta content="text/html; charset=UTF-8" http-equiv="content-type"/> 
 <title>{% trans "Current directory: " %} {{path}}</title>
 {% include "style.include" %}
</head>
<body>

<h1>{{path}}</h1>

{% if go_up %}<a href="..">{% trans "Go up" %}</a>{%endif%}

<table>
<thead>
 <tr><th>{% trans "Filename" %}</th><th>{% trans "Size" %}</th><th>{% trans "Owner" %}</th></tr>
</thead>
<tbody>
{% for file in files %}
 <tr>
	 <td><a href="/{{path_encoded}}/{{file.name_encoded}}{% if file.type == "dir" %}/{% endif %}">{{file.name_short}}</a></td>
  <td>{{file.size}}</td>
  <td>{{file.owner}}</td>
 </tr>
{% endfor %}
</tbody>
</table>

{% include "footer.include" %}
</body>
</html>
