{% load i18n %}
<!DOCTYPE html>
<html lang="{% if LANG %}{{LANG}}{%else%}en{% endif %}">
<head>
 <meta content="text/html; charset=UTF-8" http-equiv="content-type"/> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <title>{{page_title}}: {% trans "List of shares" %}</title>
 {% include "style.include" %}
 {% include "js.include" %}
</head>
<body> 

{# <h1><a href="javascript:openOrFocusTab('/','{{page_title}}')">{{page_title}}</a></h1>#}
<h1><a href="/" target="{{page_title}}">{{page_title}}</a></h1>

<table>
<thead>
    <tr><th></th><th>{% trans "Share" %}</th></tr>
</thead>
<tbody>
{% for share in shares %}
 <tr>
     <td>
         &#x1F4C1;
     </td>
   <td>
     <a class="dname" href="/media/html/{{share.key_encoded}}/">
       {% if share.key == "" %}{{share.key_enumerated}}{% else %}{{share.key}}{% endif %}</a> ({{share.path}})
   </td>
 </tr>
 {% endfor %}
</tbody>
</table>
<div class="spacer"></div>
<div>
    Notes:<ul>
        <li>{% trans "List of shared folders can be edited by '%s'" "script-opts-add=\"libwebui-shared_folders=[share_name1:path1,[…]]\"" %}
        </li><li>           
{% if allow_download_in_shares != "0" %}
<span>{% trans "Shared files are downloadable." %} </span>
{% else %}
<span>{% trans "Shared are not downloadabe." %} </span>
{% endif %}
<span>{% trans "This can be changed by '%s' in '%s'" "script-opts-add=allow_download_in_shares=[0|1]" "libwebui.conf" %}</span>
        </li>
    </ul>
</div>

{% include "footer.include" %}
</body>
</html>
